body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://wallpaperaccess.com/full/3493336.jpg') center/cover no-repeat;
  }
  
  .container {
    background-color: rgba(135, 133, 133, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    overflow: auto; 
    max-height: 90vh; 
    width: 350px;
    padding: 20px;
    margin: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px; 
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea,
  select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px); 
  }
  .back-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #2980b9;
  }
  textarea {
    resize: vertical; 
    height: 100px; 
  }
  
  button {
    background-color: #34ce20;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }